[submodule "Project#1"]
	path = "Project#1"
	url = https://github.com/ismailozgenc/EE443-Homework-P1
[submodule "Project#2"]
	path = "Project#2"
	url = https://github.com/ismailozgenc/EE443-Homework-P2
[submodule "Project#3"]
	path = "Project#3"
	url = https://github.com/ismailozgenc/EE443-Homework-P3
[submodule "Project#4"]
	path = "Project#4"
	url = https://github.com/ismailozgenc/EE443-Homework-P4
[submodule "Project#5"]
	path = "Project#5"
	url = https://github.com/ismailozgenc/EE443-Homework-P5
